.earphone {
  width: 100%;
  height: 386px;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10%;
  //   display: flex;
  //   justify-content: space-between;

  &__image {
    background: url("../../public/images/markII.png"),
      lightgray 0px 0px / 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    h4 {
      color: #d87d4a;
      text-transform: uppercase;
      letter-spacing: 1rem;
      font-weight: 400;
      font-size: 1.3rem;
      margin-bottom: 1.4rem;
    }
  }
}
