.double_con {
  width: 100%;
  height: 386px;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10%;

  align-items: center;

  margin: 150px 0;

  &__image {
    height: 100%;
  }
}

// @media (max-width: 950px) {
//   .double_con {
//     grid-template-columns: 1fr;
//     grid-template-rows: repeat(2, 1fr);
//     grid-template-rows: 500px, 1fr;
//   }
// }
