.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;

  justify-content: space-between;

  position: relative;

  margin-top: 4rem;

  &__img {
    position: absolute;
    bottom: 60%;
    height: 16rem;
    width: 13rem;
  }

  &__info {
    background-color: #f1f1f1;
    height: 15rem;
    width: 90%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    padding-bottom: 2.5rem;
  }

  h4 {
    color: #000;
  }
}
