.second {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));

  max-width: 85%;
  margin: 10rem auto;
  justify-content: center;

  @media (max-width: 600px) {
    & {
      grid-template-rows: repeat(3, 1fr);
      grid-template-columns: auto;
    }

    & > * {
      margin-bottom: 60px;
    }
  }
}
