.zx9 {
  max-width: 85%;
  height: 560px;
  margin: 0 auto;
  background-color: #d87d4a;
  margin-bottom: 50px;

  display: flex;
  justify-content: space-around;
  align-items: center;

  &__image {
    display: flex;
    height: 100%;

    &_img {
      width: 410px;
      height: 493px;
      align-self: end;
    }
  }
  &__info {
    h2 {
      color: #fff;
      font-size: 56px;
      font-style: normal;
      font-weight: 700;
      line-height: 58px; /* 103.571% */
      letter-spacing: 2px;
      text-transform: uppercase;
      width: 260px;
      margin-bottom: 12px;
    }
    p {
      width: 349px;
      color: #fff;
      font-size: 15px;
      font-style: normal;
      font-weight: 500;
      line-height: 25px; /* 166.667% */
      margin-bottom: 12px;
    }
  }
}
