.overview {
  width: 100%;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  justify-content: center;
  gap: 3%;

  margin: 20rem auto;

  @media (max-width: 600px) {
    & {
      grid-template-rows: repeat(3, 1fr);
      grid-template-columns: auto;
    }

    & > * {
      margin-bottom: 6rem;
    }
  }
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;

  justify-content: space-between;

  position: relative;

  margin-top: 4rem;

  background-color: yellow;

  &__img {
    position: absolute;
    bottom: 60%;
    height: 16rem;
    width: 13rem;
  }

  &__info {
    background-color: #f1f1f1;
    height: 15rem;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    padding-bottom: 2.5rem;
  }

  h4 {
    color: #000;
  }
}
